
@{
    ViewBag.Title = "Docs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>
<br />
<p>Workflow:<br />

   <ul>Documentation here.</ul>
   <ul>More Documentation here.</ul>
   
</p>

