@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Payables</h1>
    <p class="lead">For invoice processing.</p>
    <p><a href="http://localhost:59121/PaymentRequests" class="btn btn-primary btn-lg">Payment Requests &raquo;</a></p>
</div>
