@model Approvals.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddClient</h2>

@using (Html.BeginForm("SaveAddClient", "Users"))
{

    @* Render the check boxes using the Editor Template *@
    @Html.EditorFor(x => x.Clients)

    @Html.HiddenFor(m => m.User.Id)

    <button type="submit" class="btn btn-primary">Save</button>

}
